.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);/*5 colunas de 1 fração*/
    gap: 15px;/*distancia entre as frações*/
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
}

.card {
    aspect-ratio: 3/4;/*proporção da carta no tamanho*/
    width: 100%;
    height: 200px;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #39813a;
    border-radius: 5px;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../img/voltar.png');
    backface-visibility: hidden;
}

.card:hover {
    transform: rotateY(180deg);
}